body {
  background: green;
}

.card {
  font-size: 12rem;
  align-items: center;
  justify-content: center;
  position: relative;
  background: white;
  display: flex;
  margin: auto;
  height: 30rem;
  width: 20rem;
  padding: 3rem;
  border-radius: 15px;
  border: 1.5px solid black;
}

#topS {
  position: absolute;
  top: -2rem;
  left: 1.5rem;
  font-size: 10rem;
}

.number {
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
}

#botS {
  position: absolute;
  bottom: -1rem;
  right: 1.5rem;
  font-size: 10rem;
  transform: rotate(180deg);
}

.boton {
  margin: 2rem auto;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.boton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#form {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form > label {
  margin: 1.5rem 1.5rem;
  font-size: 1.5rem;
}

#form > input {
  width: 7.5rem;
  height: 2.5rem;
}
